.select{cursor:pointer;}
.btn{
    font-family: arial;
    font-size:14px;
    font-weight:700;
    text-transform: uppercase;
    border:none;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
}
.btn2{
    font-family: arial;
    font-size:14px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
}
.btn-blue{
    background:#0A3FD1;
    color:#fff;
    box-shadow:0 5px 0 #0938B8;
}
.btn-blue:hover{
    background:#072C91;
    box-shadow:0 5px 0 #041952;
}
.btn-white{
    background:#EDEDED;
    color:#000;
    box-shadow:0 5px 0 #E6E6E6;
}
.btn-white:hover{
    background:#BFBFBF;
    box-shadow:0 5px 0 #808080;}

.btn-blue:active, .btn-white:active{
    position:relative;
    top:5px;
    box-shadow:none;
}
h1{ text-align: left;
    font-size: 35px;}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    min-width: 300px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    }

.content-table thead tr{
    background-color: #0A3FD1;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #0A3FD1;
}