<div style="max-width: 400px; margin: 0 auto; padding: 10% 15px; height: 50vh;">
	
	<div style = "background-color: #005f93; height: 600px; border-radius: 16px;" class=" panel-default no-margin-bottom shadow-box">
			<img style="display: block; margin-left: auto; margin-right: auto;" src="<%- root %>/imagens/estadao.png" />
			<a class="login-btt" href="<%- root %>/login">Login</a>
	</div>
</div>

