<form method="post" action="<%- root %>/login">
	<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
		<div style = "background-color: #fff; height: 500px; border-radius: 16px; width: 400px;" class="shadow-box panel-default no-margin-bottom">
			<div class="panel-body">
				<img class="profile-img" style="display: block; margin-left: auto; margin-right: auto; margin-top: 30px; " src="<%- root %>/imagens/estadao.png"  width="100" height="100"/>
				<h2 style = " text-align: center; margin-top: 35px;">Bem vindo !</h2>
				<div class="form-group">
					<label for="login">Usuário</label>
					<input name="login" type="text" id="login" class="login-input form-control text-uppercase" spellcheck="false" />
				</div>
				<div class="form-group">
					<label for="senha">Senha</label>
					<input name="senha" type="password" id="senha" class=" login-input form-control" />
				</div>
				<% if (mensagem) { %>
				<div class="alert alert-danger"><%=mensagem %></div>
				<% } %>
				<input style="margin-top:50px;" type="submit" value="Login" class="login-btt btn btn-primary btn-block" />
			</div>
		</div>
	</div>
</form>