<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
		    <div class="panel-heading">Informações do Questão</div>
			    <div class="panel-body no-bottom">

                    <div class= "form-group"> 
                        <label for="titulo">Questão:</label>
                     <input type="text" placeholder="Questão" id="questao" class="form-control"/>
                    </div>  
                   

                    <div class= "form-inline"> 
                        <label for="titulo">Alternativa 1:</label>
                     <input type="text"  id="alternativa1" class="form-control"/> 
                     <input TYPE="radio" NAME="opcao" id= "radioAlternativa1" VALUE="alternativa1" >  
                    </div>  

                   

                    <div class= "form-inline"> 
                        <label for="titulo">Alternativa 2:</label>
                     <input type="text"  id="alternativa2" class="form-control"/>
                        <input TYPE="radio" NAME="opcao" id= "radioAlternativa2" VALUE="alternativa2">         
                    </div> 

                    <div class= "form-inline"> 
                        <label for="titulo">Alternativa 3:</label>
                     <input type="text"  id="alternativa3" class="form-control"/>
                   
                        <input TYPE="radio" NAME="opcao" id= "radioAlternativa3" VALUE="alternativa3">         
                    </div> 

                    <div class= "form-inline"> 
                        <label for="titulo">Alternativa 4:</label>
                     <input type="text"  id="alternativa4" class="form-control"/>
            
                        <input TYPE="radio" NAME="opcao" id= "radioAlternativa4" VALUE="alternativa4">         
                    </div> 
                 
            </div> 
               <div class="panel-footer text-center">
                <button name="clear" class="btn btn-default btn-outline" type="reset">Limpar</button>
                <button name="criarQuestao" class="btn btn-primary" type="submit">Criar Questão</button>
                
                <!--<input value="Salvar Alterações" class="btn btn-primary btn-lg btn-block" type="submit" />-->
             </div>  
        </form>    
             
    </div>    
</div>    
<%- contentFor("styles") %>
<!-- Olá mundo! -->
