<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Quiz</div>
			<div class="panel-body no-bottom">

                <div class="form-group">
                    <label for="titulo">Nome do quiz:</label>
                    <input type="text" id="titulo" class="form-control" required  />
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição: </label>
                    <textarea id="descricao" rows="3" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="estilo">Estilo:</label>
                    <select id="estilo" class="form-control" size="1">
                        <option>Selecione...</option>
                        <option value="1">Tradicional</option>
                        <option value="2">Personalidade</option>
                    </select>
                </div>
            </div>

            <div class="panel-footer text-center">
                <button name="clear" class="btn btn-default btn-outline" type="reset">Limpar</button>
                <button name="create" class="btn btn-primary" type="submit">Criar</button>
                <!--<input value="Salvar Alterações" class="btn btn-primary btn-lg btn-block" type="submit" />-->
            </div>
        </form>
    </div>
</div>

<%- contentFor("styles") %>
<!-- Olá mundo! -->
