<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form-quiz" class="panel panel-default" action="#" enctype="multipart/form-data">
			<div class="panel-heading">Informações do Quiz</div>
			<div class="panel-body no-bottom">

                <div class="form-group">
                    <!-- <input type="file" id="imagem" name="imagem" data-max-file-size="5MB" accept="image/png, image/jpeg, image/gif" > -->
                </div>

                <div class="form-group">
                    <label for="titulo">Nome do quiz:</label>
                    <input type="text" id="titulo" name="titulo" class="form-control" required  />
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição: </label>
                    <textarea id="desc" rows="3" name="desc" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo :</label>
                    <select id="tipo" class="form-control" name="tipo" size="1">

                        <option>Selecione...</option>
                        <% for (var i = 0; i < lista.length; i++) { %>
                            <option value="<%= lista[i].tipo_id %>"> <%= lista[i].tipo_nome %></option>
                        <% } %>

                    </select>
                </div>
            </div>

            <div class="panel-footer text-center ">
                <button name="clear" class="btn btn-default btn-outline" type="reset">Limpar</button>
                <button name="create" class="btn btn-success" type="submit">Criar</button>
                <!--<input value="Salvar Alterações" class="btn btn-primary btn-lg btn-block" type="submit" />-->
            </div>
        </form>
    </div>
</div>

<%- contentFor("styles") %>
<style type="text/css">

.filepond--root { 
    font-size: 1.5rem; 
}

</style>


<%- contentFor("scripts") %>
<script type="text/javascript">
    "use strict";

    // //FilePond Config
    // FilePond.registerPlugin(
    //     FilePondPluginImagePreview,
    //     FilePondPluginFileValidateSize,
    //     FilePondPluginFileValidateType,
    // );

    // const inputImg = document.getElementById("imagem");
    // const pond = FilePond.create(inputImg, {
    //     labelIdle: `Arraste & Solte sua imagem ou <span class="filepond--label-action">Selecione um Aquivo</span>`,
    //     labelMaxFileSizeExceeded: "Tamanho do arquivo excedeu o limite",
    //     labelFileTypeNotAllowed: "Tipo do arquivo não permitido"
    // });



    // $("#form-quiz").submit(function (e) {
    //     e.preventDefault();
        
    //     let titulo = document.getElementById("titulo").value;
    //     let desc = document.getElementById("desc").value;
    //     let file = document.getElementById("imagem").files;
    //     let tipo = document.getElementById("tipo").value;
    //     let img = 1;

    //     var formData = new FormData();

    //     formData.append("titulo", titulo)
    //     formData.append("desc", desc)
    //     formData.append("imagem", file)
    //     formData.append("tipo", tipo)
    //     formData.append("versao" , img)


    //     console.log(formData)
    //     $.ajax({
    //         type: "POST",
    //         enctype:'multipart/form-data',
    //         url: '/api/quiz/salvar',
    //         data: formData,
    //         processData: false,
    //         contentType: false,
    //         success: function(r){
    //             console.log("result",r)
    //         },
    //         error: function (e) {
    //             console.log("some error", e);
    //         }
    //     });

// });

$("#form-quiz").validate({
		rules: {
			titulo: {
				required: true,
				
			},
			desc: {
				required: true,
			},
			tipo: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.postFormData("/api/quiz/salvar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("OK " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});
		}
	});


    
        
    
</script>







