<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>editar-quiz</title>
        <link rel="stylesheet" href="css.css"/>
    
        <style>
            div {text-align: center;}
            
            label {font-size: 25px;}
            
            a {text-decoration:none;}
        </style>
    </head>
    
    <body>
        <h1>Editar Quiz</h1>
        <hr/>
        <br/>
    
        <div>
            <label>Nome do quiz:</label> (Título do Quiz em negrito) <br/>
                
                
            <label>Descrição: </label>descrição aqui <br/>
            
            
            <label>Tipo: </label>Tradicional <br/><br/>
            
            <button name="create" class="btn btn-blue" type="submit">Criar questão</button><br/>
            <br/><br/><br/>
            
            <div>
                <center>
                    
                <table class="content-table">
                <thead>
                    
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td colspan="2">Edição</td>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Questão 1</td>
                        <td>  <a href="" target="_blank">[Editar]</a></td>
                        <td>  <a href="">[Excluir]</a></td>
                    </tr>
                    
                    <tr>
                        <td>2</td>
                        <td>Questão 2</td>
                        <td>  <a href="" target="_blank">[Editar]</a></td>
                        <td>  <a href="">[Excluir]</a></td>
                    </tr>
                    
                    <tr>
                        <td>3</td>
                        <td>Questão 3</td>
                        <td>  <a href="" target="_blank">[Editar]</a></td>
                        <td>  <a href="">[Excluir]</a></td>
                    </tr>
                    
                    <tr>
                        <td>4</td>
                        <td>Questão 4</td>
                        <td>  <a href="" target="_blank">[Editar]</a></td>
                        <td>  <a href="">[Excluir]</a></td>
                    </tr>
                </tbody>
                </table>
                
                </center>
            </div>
            
            <button name="backgr" type="button" class="btn btn-white">Definir plano de fundo</button>
            <br/> <br/>
            
            <button name="clear" class="btn btn-white" type="reset">Limpar</button>
                
                &nbsp;&nbsp;&nbsp;

                <button name="save" class="btn btn-blue" type="submit">Salvar</button>
        </div>
    
    
    
    
    </body>

</html>