<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
            <div><header></header></div>
            <div class="panel-body">
                <h1>Quiz teste do Estadão</h1>
                <h4>Descrição aqui!</h4>
            </div>
            <div class="panel-footer text-center">
                <button name="start" class="btn btn-primary" type="button">Iniciar</button>
            </div>
        </div>
    </div>
</div>

<%- contentFor("styles") %>
<style type="text/css" name="personalizado">

        header {
    		padding: 175px 25px 75px;
    		text-align: center;
    		background-image: url('<%- root %>/imagens/user.png'); /*imagem do quiz*/
   			background-size: cover;
   		 	background-position: center; 
		}

    	body {
			background-color: #fafafa;
		}

</style>
